* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  position: relative;
}
.container {
  background-color: green;
  display: inline-block;
  padding-right: 25px;
  position: absolute;
  touch-action: none;
  top: 0;
}
.container nav {
  background-color: red;
  height: 100vh;
}
.container nav ul {
  background-color: black;
  font-size: 1.5rem;
}
.container ul li a {
  display: block;
  padding: 10px 100px 10px 10px;
  text-decoration: none;
  color: white;
}
.container ul li a:hover {
  background-color: darkcyan;
}
button {
  display: block;
}
.nav {
  background: purple;
  display: flex;
  padding: 0 25px;
}
.nav h1 {
  display: block;
}
.menu {
  display: flex;
  justify-content: space-between;
}
