* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  position: relative;
}
.container {
  background-color: green;
  display: inline-block;
  padding-right: 100px;
  /* height: 100vh; */
  position: absolute;
  /* left: -115px; */
}
.container nav {
  background-color: red;
  height: 100vh;
}
.container nav ul {
  background-color: black;
  font-size: 1.5rem;
}
.container ul li a {
  display: block;
  padding: 10px 100px 10px 10px;
  text-decoration: none;
  color: white;
}
.container ul li a:hover {
  background-color: darkcyan;
}
.debugEvent {
  background-color: green;
  width: 100vw;
}
button {
  z-index: 1;
}
